{
  "presets": [
    ["@babel/preset-env", {
			"useBuiltIns": "entry",
			"debug":true
		}]
  ],
  "plugins": [
    "@babel/plugin-transform-classes",
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-transform-modules-umd", {
      "noConflict": true
    }]
  ]
}
